<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
  <h3 class="bolder">Tecnologia</h3>
  <p>A Ranger oferece o mais completo conjunto de tecnologias, algumas exclusivas em seu segmento, para proporcionar muito mais conforto e segurança para quem está dirigindo e seus passageiros, como o SYNC 3, um sistema multimídia exclusivo que permite acesso intuitivo e facilmente configurável a diversas tecnologias, garantindo máxima comodidade. Surpreenda-se com o que a picape Raça Forte tem a oferecer.</p>
  <h3 class='pt-4 bolder'>Exterior e Interior</h3>
  <p>Com uma frente imponente, a Ranger se destaca pelo visual robusto do capô e pela grade trapezoidal cromada. Complementando o moderno design, os estribos laterais, Santo Antônio personalizado e detalhes cromados conferem requinte e exclusividade.</p>
  <h3 class='pt-4 bolder'>Novo por dentro e por fora</h3>
  <p>Além do câmbio automático e do seu novo visual exclusivo com acabamento superior, o novo Ka chega também com Motor 1.5 3C de 136 cv – o 1.5 mais potente da categoria – e com SYNC® 3 com tela flutuante. O carro que sua família precisa que ele seja.</p>
</div>
<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
  <h3 class="bolder">Segurança</h3>
  <p>A Ranger conta com o maior pacote de segurança do segmento e oferece 7 Air bags nas versões XLS, XLT e Limited, 
      sendo 2 frontais, 2 de cortina, 2 laterais e 1 de joelho para o motorista; e 3 Air bags nas versões XL, sendo 2 
      frontais e 1 de joelho para o motorista.</p>
  <h3 class='pt-4 bolder'>Performance</h3>
  <p>A Ranger oferece uma ampla linha de motorizações e transmissões:<br>
    2.5 Flex Duratec com Transmissão manual de 5 velocidades,<br>
    2.2 Diesel Duratorq com Transmissão manual ou automática de 6 velocidades,<br>
    3.2 Diesel Duratorq com Transmissão automática de 6 velocidades.</p>
  <p>Descubra outras vantagens que fazem dela uma verdadeira picape Raça Forte.</p>
</div>





<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <h3 class="bolder">Tecnologia</h3>
    <p>O SYNC® 3 com Tela de 8” é o sistema multimídia exclusivo da Ford, que permite interação intuitiva com o veículo. Ele possui conectividade total com Android Auto e Apple Carplay, com AppLink™, e Comandos de Voz. O pacote tecnológico inclui também Chave com Sensor de Presença – Ford Power, Sensor de Chuva e Acendimento Automático dos Faróis, elevando o patamar de tecnologia do EcoSport.</p>
    <h3 class='pt-4 bolder'>Design que impressiona</h3>
    <p>Apesar de ser parte da linha EcoSport, a versão Storm tem personalidade própria. Se a primeira impressão é a que fica, a Grade Dianteira já mostra agressividade e exclusividade. Rodas de Liga Leve 17" exclusivas, Capa de Estepe Rígida personalizada e Faróis de Xenon com Máscara Negra também são alguns dos destaques. No espaço interno, sofisticação na medida certa, com bancos em couro Ebony Black com costura Satin Orange e teto preto.</p>
  </div>
  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
    <h3 class="bolder">Segurança</h3>
    <p>Entre os destaques de segurança, você conta com o Sistema de Monitoramento de Ponto Cego (BLIS®), com Alerta de Tráfego Cruzado (CTA), AdvanceTrac® Controle Eletrônico de Estabilidade (ESC) e Tração (TCS) com Sistema Anticapotamento (RSC), além do Sensor de Monitoramento de Pressão dos Pneus (TPMS).</p>
  </div>