.btn-materiais {
    color: #212529;
    background-color: #ce1d49;
    border-color: #ce1d49;
    width: 100% !important;
    border-radius: 0px !important;
}

.bg-contato {
    background: #E2E2E2;
}

#nav-footer {
    list-style-type: none;
}

#nav-footer li {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#nav-footer li a {
    text-decoration: none;
    color: #fff;
}

#nav-footer li a:hover {
    text-decoration: none;
    color: rgb(207, 207, 207);
}

.hr-footer {
    border-top: 2px solid rgba(255, 255, 255, .9);
}

.t-inverse {
    color: #343a40;
}

@media(max-width: 768px) {
    .brand-logo {
        height: 50px;
    }
    .box-txt-mobile {
        background: rgba(0, 0, 0, 0.80);
        padding: 30px;
    }
    .py-mobile {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.ttlo-info {
    font-size: 16px!important;
}

.nav-pills .nav-link.active {
    background-color: #C4092F!important;
}

.nav-pills .nav-link {
    border-radius: 0!important;
    background: #dee2e6;
    color: #c4092f;
}

.txt-info {
    line-height: 30px;
    color: #58595b;
    font-size: 15px;
}


/*************** AMERICA FORD  ******************/

.bg-america {
    background: #002A5E;
}

.bolder {
    font-weight: bolder;
}

.text-ford-2 {
    color: #FFE200;
}

.text-ford-2:hover {
    color: rgb(223, 197, 0);
}

.view {
    background: url("../img/slider.jpg") no-repeat center center;
    background-size: cover;
    height: 100% !important;
    margin-top: 0px;
}

.box {
    background: rgba(78, 78, 78, 0.88);
    padding: 60px 40px 30px 40px;
}

.p-08 {
    font-size: .8rem;
}

shadow {
    text-shadow: 1px 1px #1d1d1d;
}

.text-shadow {
    text-shadow: 1px 0 0 #242424, -1px 0 0 #242424, 0 1px 0 #242424, 0 -1px 0 #242424, 1px 1px #242424, -1px -1px 0 #242424, 1px -1px 0 #242424, -1px 1px 0 #242424;
}

.hero-h1 {
    font-size: 2.5rem !important;
}

@media (max-width:575px) {
    .desktop {
        display: none;
    }
    .hero-h1 {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
    }
}